<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" verbose="3" parallel="classes" thread-count="3">

    <listeners>
        <listener class-name="org.framework.listeners.TestListener" />
        <listener class-name="org.framework.listeners.AnnotationTransformer" />
    </listeners>

    <test name="Functional Tests" preserve-order="false" parallel="methods" thread-count="6" enabled="true">
<!--        <parameter name="browser" value="chrome" />-->
        <groups>
            <run>
                <include name="setup" />
                <include name="web" />
            </run>
        </groups>
        <classes>
            <class name="org.jvu.tests.webtests.RegistrationTests" />
            <class name="org.jvu.tests.webtests.LoginTests" />
            <class name="org.jvu.tests.webtests.SearchTests" />
            <class name="org.jvu.tests.webtests.CartTests" />
            <class name="org.jvu.tests.webtests.CheckoutTests" />
            <class name="org.jvu.tests.webtests.HomePageTests" />
        </classes>
    </test>

    <test name="API Tests" preserve-order="false" parallel="methods" thread-count="3" enabled="false">
        <groups>
            <run>
                <include name="api" />
            </run>
        </groups>
        <classes>
            <class name="org.jvu.tests.apitests.ListUsersTests" />
        </classes>
    </test>

</suite>