<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG Suite" verbose="3" parallel="classes" thread-count="3">

    <listeners>
        <listener class-name="framework.listeners.TestListener" />
        <listener class-name="framework.listeners.AnnotationTransformer" />
    </listeners>

    <test name="All Web UI and Functional Tests" preserve-order="false" parallel="methods" thread-count="4" enabled="true">
        <groups>
            <run>
                <include name="web setup" />
                <include name="functional" />
                <include name="ui" />
                <include name="smoke" />
                <include name="regression" />
            </run>
        </groups>
        <classes>
            <class name="jpvu.tests.functional.RegistrationTests" />
            <class name="jpvu.tests.functional.LoginTests" />
            <class name="jpvu.tests.functional.SearchTests" />
            <class name="jpvu.tests.functional.CartTests" />
            <class name="jpvu.tests.functional.CheckoutTests" />

            <class name="jpvu.tests.ui.CartUiTests" />
            <class name="jpvu.tests.ui.HomePageUiTests" />
        </classes>
    </test>

    <test name="API Tests" preserve-order="false" parallel="methods" thread-count="3" enabled="false">
        <groups>
            <run>
                <include name="api" />
                <exclude name="web setup" />
            </run>
        </groups>
        <classes>
            <class name="jpvu.tests.api.ListUsersTests" />
        </classes>
    </test>

</suite>