<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="false" thread-count="3">

    <listeners>
        <listener class-name="org.jvu.listeners.TestListener" />
        <listener class-name="org.jvu.listeners.AnnotationTransformer" />
    </listeners>

    <test name="Chrome Tests" preserve-order="false" parallel="methods" thread-count="6" enabled="true">
<!--        <parameter name="browser" value="chrome" />-->
        <classes>
<!--            <class name="tests.RegistrationTests">-->
<!--                <methods>-->
<!--                    <include name="registerValidInfo" />-->
<!--                    <include name="registerInvalidEmail" />-->
<!--                    <include name="registerEmailTaken" />-->
<!--                    <include name="registerUsernameTaken" />-->
<!--                    <include name="registerRequiredFieldsEmpty" />-->
<!--                    <include name="invalidRegistrationTests" />-->
<!--                </methods>-->
<!--            </class>-->
            <class name="org.jvu.tests.LoginTests">
                <methods>
                    <include name="loginValidCredentials" />
                    <include name="loginEmptyPassword" />
<!--                    <include name="loginInvalidPassword" />-->
                    <include name="logoutSuccess" />
<!--                    <include name="invalidLoginTests" />-->
                </methods>
            </class>
        </classes>
    </test>

    <test name="Firefox Tests" preserve-order="false" parallel="methods" thread-count="3" enabled="false">
<!--        <parameter name="browser" value="firefox" />-->
        <classes>
            <class name="org.jvu.tests.RegistrationTests">
                <methods>
                    <include name="registerValidInfo" />
                    <include name="registerInvalidEmail" />
                    <include name="registerEmailTaken" />
                    <include name="registerUsernameTaken" />
                    <include name="registerRequiredFieldsEmpty" />
                    <include name="invalidRegistrationTests" />
                </methods>
            </class>
            <class name="org.jvu.tests.LoginTests">
                <methods>
                    <include name="loginValidCredentials" />
                    <include name="loginEmptyPassword" />
                    <include name="loginInvalidPassword" />
                    <include name="logoutSuccess" />
                    <include name="invalidLoginTests" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Edge Tests" preserve-order="false" parallel="methods" thread-count="3" enabled="false">
<!--        <parameter name="browser" value="MicrosoftEdge" />-->
        <classes>
            <class name="org.jvu.tests.RegistrationTests">
                <methods>
                    <include name="registerValidInfo" />
                    <include name="registerInvalidEmail" />
                    <include name="registerEmailTaken" />
                    <include name="registerUsernameTaken" />
                    <include name="registerRequiredFieldsEmpty" />
                    <include name="invalidRegistrationTests" />
                </methods>
            </class>
            <class name="org.jvu.tests.LoginTests">
                <methods>
                    <include name="loginValidCredentials" />
                    <include name="loginEmptyPassword" />
                    <include name="loginInvalidPassword" />
                    <include name="logoutSuccess" />
                    <include name="invalidLoginTests" />
                </methods>
            </class>
        </classes>
    </test>
</suite>