<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="false" thread-count="1" data-provider-thread-count="1">
    <test name="Chrome tests" preserve-order="false" enabled="true">
        <parameter name="browser" value="chrome" />
        <classes>

        </classes>
    </test>
</suite>